  
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

TweetyBird/utils/.env
TweetyBird/utils/__init__.py
TweetyBird/utils/__pycache__
TweetyBird/Cogs/__pycache__

BulletTank/BoardMockup.png
BulletTank/Rainbow_tanks.png